*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    background-color: orange;
}
header{
    background-color: black;
    width: 100%;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;
    padding: 25px;  
}
nav a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}
nav img{
    margin-top: 10px;
    
}
.ini{
    text-align: center;
    padding: 25px;
}
.ini h1 {
    padding: 5px;
    font-size: 60px;
}
.ini img{ 
    width: 200px;
    border-radius: 40%;
    margin-top: 15px;

}
.ini h2 {
    padding: 25px;
    font-size: 60px;
}
.sobre{
    text-align: center;
    padding: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
.sobre p{
    margin-left: 45px;
    margin-right: 45px;
}
.sobre h2{
    padding: 25px;
    font-size: 80px;
}
.sobre img {
    padding: 25px;
    width: 400px;
}

.port{
    text-align: center;
    
}
.port h2{
    font-size: 80px;
    padding: 25px;
}
.port p{
    padding: 25px;
}
.grid2{
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
}
.grid-colunas2 img{
    display:inline-block;
    width: 80%;
    margin-left: 55px;
}
.grid-colunas2 p{
    margin-left: 55px;
}
section{
    text-align: center;
    padding: 25px;
}
section h2{
    font-size: 80px;
    padding: 25px;
}
section p{
    padding: 25px;
}
section ul{
    list-style: none;
    
}
section li{
    padding: 15px;
}
section a{
    text-decoration: none;
      
}
section div{
    
    font-size: 25px;
    display: inline-block;
}


section .img1:hover{
    border: 5px solid pink;
    border-radius: 50px;
    background: pink;
}
section .img2:hover{
    border: 5px solid green;
    border-radius: 50px;
    background: green;
}
section .img3:hover{
    border: 5px solid blue;
    border-radius: 50px;
    background: blue;
}
section .img4:hover{
    border: 5px solid red;
    border-radius: 50px;
    background: red;
}

